{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <h2>Acerca de</h2>
    <p>
      COFFEE_MNK es mi proyecto académico en Flask orientado a un sistema de ventas para cafetería.
      En Semana 10 incorporé plantillas con Jinja2, herencia y separación de estructura y lógica
      para mantener el proyecto más ordenado, reutilizable y listo para futuras extensiones.
    </p>

    <div class="meta">
      <span class="badge">Plantillas</span>
      <span class="badge">Reutilización</span>
      <span class="badge">Rutas dinámicas</span>
      <span class="badge">Static/CSS</span>
    </div>
  </section>
{% endblock %}