{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <h2>COFFEE_MNK - Sistema de ventas para cafetería</h2>
    <p>
      Este sistema permite consultar productos del menú y generar pedidos mediante rutas dinámicas.
      En esta versión implementé plantillas Jinja2 con herencia para reutilizar componentes y mantener el proyecto organizado.
    </p>

    <div class="meta">
      <span class="badge">Menú</span>
      <span class="badge">Pedidos</span>
      <span class="badge">Jinja2</span>
      <span class="badge">Herencia</span>
      <span class="badge">Render</span>
    </div>
  </section>

  <section class="grid">
    <div class="card half">
      <h3>Pruebas rápidas</h3>
      <ul class="list">
        <li><a class="link" href="{{ url_for('about') }}">Acerca de</a></li>
        <li><a class="link" href="{{ url_for('producto', nombre='capuccino') }}">Producto: capuccino</a></li>
        <li><a class="link" href="{{ url_for('producto', nombre='mocaccino') }}">Producto: mocaccino</a></li>
        <li><a class="link" href="{{ url_for('pedido', cliente='monika') }}">Pedido: monika</a></li>
      </ul>
    </div>

    <div class="card half">
        <h3>Gestión del sistema</h3>
        <ul class="list">
            <li>Consulta dinámica de productos del menú</li>
            <li>Generación de pedidos por cliente</li>
            <li>Interfaz estructurada mediante plantillas reutilizables</li>
            <li>Arquitectura preparada para integrar base de datos</li>
        </ul>
    </div>
  </section>
{% endblock %}